language: php

php:
  - 5.6

services:
  - mysql

before_install:
  - composer self-update
  - mysql -e "create database IF NOT EXISTS test;" -uroot
  - sudo apt-get update
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  # enable php-fpm
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  # configure apache virtual hosts
  - sudo cp -f build/travis-ci-apache /etc/apache2/sites-available/default
  - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default

sudo: true

script:
  - composer create-project --prefer-dist --no-interaction laravel/laravel laravel
  - mkdir -p /home/travis/build/milaxcom/mconsole/laravel/workbench/milax/mconsole
  - cp -rfa /home/travis/build/milaxcom/mconsole/build/* /home/travis/build/milaxcom/mconsole/laravel
  - cp /home/travis/build/milaxcom/mconsole/build/.env /home/travis/build/milaxcom/mconsole/laravel
  - mv !(laravel) laravel/workbench/milax/mconsole
  - cd /home/travis/build/milaxcom/mconsole/laravel && composer update --no-scripts
  - cd /home/travis/build/milaxcom/mconsole/laravel/workbench/milax/mconsole && composer update --no-scripts
  - cd /home/travis/build/milaxcom/mconsole/laravel && php artisan mconsole:install --update
  - sudo service apache2 restart
  - cd /home/travis/build/milaxcom/mconsole/laravel/workbench/milax/mconsole && phpunit -c phpunit.ci.xml --debug