.map-container {
	border: 1px solid #cbd0e6;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: 10px;
	position: absolute;
	left: -10000px;
}
.map-cross {
	pointer-events: none;
	width: 100%;
	height: 100%;
	background-image: url('/massets/img/map-cross.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100000;
}
.map-container .map-inner {
	height: 400px;
	width: 578px;
}
.map-tabs {
	position: relative;
	height: 32px;
	display: none;
}
.map-tabs .tab {
	margin-right: 2px;
	display: inline-block;
	min-width: 74px;
	height: 26px;
	border: 1px solid #cbd0e6;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: center;
	font-size: 11px;
	line-height: 26px;
	margin-top: 5px;
	vertical-align: top;
	cursor: pointer;
	padding: 0 10px;
}
.map-tabs .tab.active {
	height: 31px;
	margin-top: 0px;
	background-color: #f8f8fa;
	line-height: 30px;
}
#map-replace {
	margin-bottom: 10px;
}
#map-replace img {
	vertical-align: middle;
}
#copy-buttons {
	position: absolute;
	left: -10000px;
}