@charset "UTF-8";

::-webkit-scrollbar {  
    width: 6px;
    height: 6px;
}  
::-webkit-scrollbar-track {  
    background-color: transparent;
}  
::-webkit-scrollbar-thumb {  
    background-color: #cacaca;
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #b0b0b0;  
}


/** LOGIN PAGE **/

#login-logo { position: fixed; top:0px; left:0; text-align: center; font-size: 11px; font-weight: 800; text-transform: uppercase; height: 30px; overflow: hidden; line-height: 2.4em; width: 100%; color: #ADB5D9;}

#signin, #accessdenied { width: 200px; position: absolute; margin-left: -100px; left:50%; top:0; display: none;}
#accessdenied, #accessdenied * {font-size: 10px;}

#signin .uncorrect-info { display: none; position: absolute; top: 140px; left:0; font-size: 10px; text-align: center;}



/** ALL FORMS **/

#sidebar {height: 44px; width: 100%; position: fixed; top:0; left:0; background-color: #adb5d9; z-index: 8;}
#sidebar .logo, #sidebar .name {position: absolute; top:0; left:0;font-size: 15px; font-weight: 800; text-transform: uppercase; color: #fff;line-height: 2.9;}
#sidebar .logo { text-indent: 46px;}
#sidebar .name { left:316px; width: 644px;}

#sidebar .pref-button { width: 50px; height: 44px; position: absolute; top:0; left:220px; background: url('/mconsole/img/preferences.svg') 50% 50% no-repeat; cursor: pointer;}
#sidebar .pref-button:hover, #sidebar .pref-button.active { background-color: #b7bddc;}

#pref-window { position: fixed; top:0; left:0; display: none; width: 270px; background-color: #b7bddc; border-bottom:5px solid #f8f9fa; -moz-box-sizing: border-box;  box-sizing: border-box; padding: 20px 46px; z-index: 7;}
#pref-window .entry {margin-bottom: 14px;}
#pref-window .entry, #pref-window .entry * { font-size: 10px; text-transform: uppercase; font-weight: 800; color: #fff; }
#pref-window .entry .capt { color: #dbdde6; display: block;}
#pref-window .about { padding-top: 10px;}
#pref-window .about, #pref-window .about * {font-size: 8px; color: #fff; font-weight: 600; text-transform: uppercase;}

#pref-window .exit,
#pref-window .change-pwd {width: 178px; height: 24px; overflow: hidden; padding: 0 20px; text-transform: uppercase; font-size: 10px; color: #7180b7; background-color: #fff; border-radius: 3px; line-height: 2.5em; display: inline-block; cursor: pointer; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center;}
#pref-window .change-pwd { background-color: rgba(255,255,255,0.6); }


#menu { position: fixed; top:0; left:0; height: 100%; width: 276px; overflow: auto; overflow-x: hidden; -moz-box-sizing: border-box; box-sizing: border-box;  z-index: 6;}
.menu-child {width: 270px;hidden; -moz-box-sizing: border-box; box-sizing: border-box;padding: 62px 0 0 0; min-height: 100%;background-color: #f8f9fa}

.menu-item { width: 100%; position: relative; display: block; -moz-box-sizing: border-box; box-sizing: border-box; padding:12px 26px 12px 46px; font-weight: 600;background-position: 20px 50%; background-repeat: no-repeat; }
.menu-item:hover, .menu-item.active { background-color: #8290c4; text-decoration: none; color: #FFF;}
.menu-item.menu-item-with-bundle:hover { background-image: url(/mconsole/img/arrowtoright.svg); }
.menu-item.menu-item-with-bundle.active { background-image: url(/mconsole/img/arrowtobottom.svg); background-color: #adb5d9;}

.menu-bundle { background-color: #adb5d9; display: none;}
.menu-bundle * { color:#fff; font-size: 12px;}
.menu-bundle .menu-item { padding-top: 10px; padding-bottom: 10px;}

#content {-moz-box-sizing: border-box; box-sizing: border-box; width: 960px; padding:74px 0 55px 316px; position: relative; margin-right: 0 auto 0 0; z-index: 5;}





/* END */