.links-editor-items {
	position:relative;
	width:100%;
	box-sizing:border-box;
	width: 100%;
	
	.links-editor-item {
		min-height:75px;
		width:100%;
		background-color:#f7f8fa;
		position:relative;
		box-sizing:border-box;
		border:1px solid #d8dae9;
		padding:8px 50px 10px 15px;
		margin-bottom: 5px;
		
		input {
			margin-bottom: 5px;
		}
		
		.drag, .remove {
			height: 30px;
			line-height: 24px;
			position: absolute;
			left: auto;
			top: 8px;
			right: 10px;
		}
		
		.drag {
			cursor: move;
		}
		
		.remove {
			top: 43px;
		}
		
	}
	
}